<h1 mat-dialog-title class="modal-title">{{title}}</h1>
<div mat-dialog-content>
  <div class="body">
    <div [formGroup]="form" class="input">
      <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <textarea matInput placeholder="Text" formControlName="text"></textarea>
        <mat-error *ngIf="form.get('text')?.hasError('required')"
          >Text is required</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button color="primary" class="action-btn" (click)="onNoClick()">
    Cancel
  </button>
  <button
    *ngIf="isEdit"
    mat-button
    color="primary"
    class="action-btn"
    (click)="update()"
    cdkFocusInitial
  >
    Edit
  </button>
  <button
    *ngIf="!isEdit"
    mat-button
    color="primary"
    class="action-btn"
    (click)="create()"
    cdkFocusInitial
  >
    Create
  </button>
</div>
